/* ヘッダー全体 */
.header {
    background: black;
}

.header__inner {
    max-width: 1230px;
    padding: 20px 15px;
    margin: 0 auto;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}