/* フラッシュメッセージ（成功時） */
.todo__alert--success {
    background: #d1e7dd;
    color: #0f5132;
    padding: 15px;
    border: ipx solid #badbcc;
}

/* フラッシュメッセージ（エラー時） */
.todo__alert--danger {
    background: #f8d7da;
    color: #842029;
    padding: 15px 0;
    border: ipx solid #f5c2c7;
}

.todo__alert--danger ul {
    margin: 0;
}

/* コンテンツ全体 */
.todo__content {
    max-width: 1230px;
    padding: 60px 15px;
    margin: 0 auto;
}

/* Todo作成フォーム */
.create-form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.create-form__item {
    width: 70%;
}

.create-form__item-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 40px;
}

.create-form__button {
    width: 20%;
}

.create-form__button-submit {
    width: 100%;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
}

/*  Todo一覧テーブル */
.todo-table{
    width: 70%;
    margin: 30px auto;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__header {
    text-align: left;
    font-weight: bold;
    padding: 10px;
}

/*  Todo一覧テーブル（更新機能） */
.todo-table__item:first-of-type {
    padding: 10px;
    width: 90%;
}

.update-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-form__item {
    width: 80%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

/*  Todo一覧テーブル（削除機能） */
.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}